/* some style */

.PESCE1 {
  color: red;
}

.PESCE2 {
  color: HotPink;
}

.PESCE3 {
  color: GoldenRod;
}



.SQUALO1 {
  color: Gray;
}

.SQUALO2 {
  color: Blue;
}

.SQUALO3 {
  color: Black;
}

.cella {
  width: 25px;
  height: 25px;
}
